asgiref==3.11.1
charset-normalizer==3.4.9
colorama==0.4.6
Django==5.2.15
django-cors-headers==4.9.0
djangorestframework==3.17.1
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
reportlab==5.0.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
